<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div  *ngIf="loading"  class="d-flex justify-content-center ">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    
    <section id="card-demo-example">
      <div class="row match-height">
        <div class="col-md-6 col-lg-4" *ngFor="let pokemon of items" >
          <div class="card">
            <img class="card-img-top" src="{{pokemon.image}}" alt="Card image cap" />
            <div class="card-body">
              <h4 class="card-title">{{pokemon.name | uppercase}}</h4>
              <!-- <h4 class="card-text">
                {{pokemon.type}}
              </h4> -->
              <!-- <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
              </p> -->
              <a    routerLink="/pokemon/{{ pokemon.id }}" rippleEffect class="btn btn-outline-primary">Details</a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <ngb-pagination
    *ngIf="!loading"
    class="d-flex justify-content-center"
    [collectionSize]="1160"
    [(page)]="pageAdvancedEllipses"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    (click)="pageChange()"
  >
    <ng-template ngbPaginationFirst>First</ng-template>
    <ng-template ngbPaginationPrevious
      ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
    </ng-template>
    <ng-template ngbPaginationNext
      >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
    </ng-template>
    <ng-template ngbPaginationLast>Last</ng-template>
    </ngb-pagination>
    
  </div>
</div>
